* {
    box-sizing: border-box;
}
.banner {
    background: url(../img/chosmistri.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;


}


.logo {
    text-align: center;
    padding: 2em 0;
}
.logo h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 700;
    font-family: Nunito-Regular;

}
.banner-info {
    padding: 17em 0 0;
}
.banner-info h2 {
    color: #fff;
    font-size: 4em;
    text-align: center;
    margin: 0;
    font-weight: 700;
    background-color: rgba(65, 139, 202, 0.64);
    padding: 0.5em 1em;
    width: 60%;
    font-family: Nunito-Regular;

}
.banner-info h3 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 1em 0 0;
    font-weight: 400;
    background-color: rgba(63, 78, 98, 0.49);
    padding: 0.4em 1em;
    width: 50%;
    font-family: Nunito-Regular;

}
h3 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.scroll {
    margin: 0em 0 0;
    text-align: center;
    background-color: #ffc907;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.about {
    background: #ffc907;
    background-color: rgb(255, 201, 7);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    padding: 5em 0;
    padding-top: 5em;
    padding-right: 0px;
    padding-bottom: 5em;
    padding-left: 0px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media  (min-width: 1200px)

.container {
    width: 1170px;
}

/*.container::before{
    display: table;
    content: " ";
}*/
.about {
    background:  #999999;
    padding: 5em 0;
    height: 600px;

}
.about h3{
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1em;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.about h4 {
    font-size: 1.58em;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color:#00cccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color:  #66ff66;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.about h4 {
    font-size: 1.58em;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.services {
    background: #e05d6f;
    padding: 5em 0;
}
.services h3{
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1em;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.service-grids {
    text-align: center;
    margin-bottom: 2em;
}
.col-md-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
span.glyphicon.glyphicon-time {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
span.glyphicon.glyphicon-time {
    font-size: 2em;
    color: #fff;
    background: url(../img/clock.png) center;
    background-repeat: no-repeat; 
}
.services h4 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0 0;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.services p {
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0;
    color: #fff;
}
span.glyphicon.glyphicon-star {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
    background: url(../img/star.png) center;
    background-repeat: no-repeat; 
}
span.glyphicon.glyphicon-bullhorn {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
    background: url(../img/mic.png) center;
    background-repeat: no-repeat; 
}
span.glyphicon.glyphicon-eye-open {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
    background: url(../img/eye.png)center;
    background-repeat: no-repeat; 
}
span.glyphicon.glyphicon-globe {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
    background: url(../img/globe.png)center;
    background-repeat: no-repeat; 
}
span.glyphicon.glyphicon-wrench {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 2px solid;
    padding: 1em;
    background: url(../img/range.png)center;
    background-repeat: no-repeat; 
}
.gallery {
    background: #418bca;
    padding: 5em 0;
}

.gallery h3{
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
h3 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
.container::before{
	display: table;
	content: " ";
}
::before{
	
	box-sizing: border-box;
}
.grid-box{
    background: #418bca;
}
div#portfoliolist {
	padding: 0em 0 3em;
}
#portfoliolist .portfolio{
    
}
#portfoliolist .portfolio {
	
	width: 23.75%;
	float: left;
	overflow: hidden;
	margin: 0.5em 0.5em;
}
.portfolio-wrapper {
	overflow: hidden;
	position: relative !important;
	cursor: pointer;
}
a {
	background: transparent;
}
.portfolio img {
	width: 100%;
	-moz-transition: all 300ms !important;
}
.img-responsive {
	max-width: 100%;
	height: auto;
        
}

.img {
	vertical-align: middle;
}
.grid_box .zoom-icon {
	top: -5px;
	width: 100%;
	height: 203px;
}
.zoom-icon {
    position: absolute;
    opacity: 0;
    display: block;
    background: url(../images/.png) center center no-repeat rgba(77, 78, 98, 0.45);
    background-color: rgba(77, 78, 98, 0.45);
    background-image: url("../images/.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
cursor: pointer;
-moz-transition: all .2s ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.client {
	background: #3f4e62;
	padding: 5em 0;
}

.client h3{
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1em;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0px auto;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-item {
    float: left;
    margin: 0;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-nav-left{
    width: 60px;
    height: 115px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left{
    width: 60px;
    height: 115px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.contact {
    background: #16a085;
    padding: 5em 0 1em;
}
.contact h3 {
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1em;
    font-family: Nunito-Regular;
    letter-spacing: 1px;
}
.footer-left {
    
    padding: 3em 3.2em;
    width: 22%;
    margin: 0 auto 3em;
    background-image: url(../img/contact.PNG);
    background-repeat: no-repeat;
   height: 200px; 
}





.co-ntact {
    margin: 0 0 2em;
}
.to {
    float: left;
    width: 50%;
}
.to input[type="text"] {
    padding: 18px;
    width: 95%;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
    border: none;
    color: #888;
    background: #F8F8F8;
    float: left;
    outline: none;
    border: 1px solid #FFFFFF;
}
input{

    line-height: inherit;
}
.text {
    width: 50%;
    float: left;
}
.text input[type="text"], .text textarea {
    width: 100%;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background: #F8F8F8;
    height: 151px;
    padding: 18px;
    resize: none;
    border: 1px solid #fff;
}
.form-submit input[type="submit"] {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding: 14px 36px;
    text-transform: uppercase;
    background: #3f4e62;
    display: inline-block;
    transition: all 0.3s ease-out;
    font-weight: 100;
    border: none;
    cursor: pointer;
    outline: none;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    background: url(../img/arrow.1.png) no-repeat 0px 0px;
}